
.projects{
  background-color: #1B1B1D;
  margin:0;
  padding: 15px;
  padding-top: 55px;
  a{
    color: black;
    text-decoration: none;
    &:hover{
      color: #333;
      text-decoration: underline;
    }
  }
}
.projects-top{
  margin:10px
}
.project-container {
  border: 2px solid rgb(194, 191, 191);
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 14px; 
  margin-bottom: 20px; 
  background-color: rgb(204, 201, 201);
  border-radius: 5px;
  
  height: 390px;
}


.info-centered{
  text-align: center;
}

.projects-bottom{
  display: flex;
  margin: 0 auto;
  width: 70vw;
}

@media (max-width: 768px){
  .project-container{
    height: fit-content;
    
  }
}