.animation-wrapper h2 {
  font-size: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  line-height: 0;
}
.container-text{
  margin-top: 20px;
  margin-bottom: 30px;
}
h1{
  text-align: center;
  margin-top: 70px;
}

.h1-wrapper{
  height:300px;
}