*{
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'lato';
}

#section{
  background-color: white;
}

h3{
  text-align: center;
}

